{% extends 'layout.html' %}
{% load static %}

{% block maincontent %}
    <div class="container">
        <h2 class="text-primary text-center my-2">Add Category</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">{{ message }}</div>

                <button type="button" class="btn-close" data-bs-dismiss=" alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for i in form %}
                    <div class="mb-3">
                        {{ i.label_tag }}
                        {{ i }}

                    </div>

                {% endfor %}

                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-outline-success w-25 my-2">

                </div>

            </form>
        </div>
    </div>
{% endblock %}